    body{
        margin: 0;
    }  img{display: block;  width: 45%;
margin-left: 110px;}
    section{
        height: 100vh;
        background-image:url(https://scontent.frak2-2.fna.fbcdn.net/v/t39.30808-6/285122347_1153987481843197_2939817481188768302_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8631f5&_nc_ohc=Gz0K4_Wd9lQAX8VmBRF&_nc_ht=scontent.frak2-2.fna&oh=00_AfAY3UD2fW6ieZ-U5EdxbTBkRvgr7VA1QjMmCNTXJ41KCg&oe=63AA7687;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    form{
        width: 500px;
        background-image: linear-gradient(#00F260,#0575E6);
        padding: 60px;
        box-sizing: border-box;
        border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
        opacity:0.8;
        box-shadow: 25px 100px 25px rgba(0, 0, 0);
       
    }
        input{
            display: block;
            margin: 10px auto;
            width: 300px;
            padding: 6px 10px;
            outline: none;
            border: none;
            box-sizing: border-box;
            border-radius: 20px;
        }
       #hh{text-align: center;color: rgba(23, 112, 230, 1);
        font-weight: bolder;
    text-decoration-color:royalblue;
-moz-text-decoration-style: dotted;cursor: pointer;}
 
     
